$block-class: 'add-need';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: baseline;

        &__inputs {
            display: flex;
            flex-direction: row;
        }

        &__input {
            margin-left: 8px;
        }

        &__submit {
            margin-left: 4px;
            cursor: pointer;
        }

        @include on-small {
            flex-direction: column;

            &__input,
            &__submit {
                margin-left: 0;
            }
        }
    }
}
