$block-class: 'app';

@at-root {
    .#{$block-class} {
        background-color: $brand-background-color;

        &__body {
            padding: 0 10%;
        }

        width: 80%;
        height: 100%;
        padding-bottom: 80px;
        position: relative;

        @include on-small {
            width: 90%;
        }
    }
}
