$block-class: 'app';

@at-root {
    .#{$block-class} {
        background-color: $brand-background-color;
        width: 60%;
        padding: 0 10%;
        height: 100%;

        @include on-small {
            width: 80%;
            padding: 0 5%;
        }
    }
}
