$block-class: 'bringing';

@at-root {
    .#{$block-class} {
        display: flex;
        align-items: flex-start;

        &__input {
            &::placeholder {
                color: darken($brand-background-color, 20%);
            }
        }

        &__name {
            margin-left: 12px;
            white-space: nowrap;
        }

        &__nevermind {
            margin-left: 4px;
            cursor: pointer;

            &:hover + &-elaboration {
                display: block;
            }
        }

        &__nevermind-elaboration {
            margin-left: 4px;
        }

        &__nevermind-elaboration {
            display: none;
        }
    }
}
