$block-class: 'footer';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        position: absolute;
        bottom: 0;
        background-color: $brand-secondary;
        width: 100%;
    }
}
