$block-class: 'header';

@at-root {
    .#{$block-class} {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__title {
            font-size: 48px;
            text-align: center;
        }

        &__create-potluck {
            width: 80px;
            height: 80px;
            margin-right: 10px;
            top: -10px;
        }
    }
}
