$block-class: 'inconspicuous-input';

@at-root {
    .#{$block-class} {
        border: none;
        outline: none;
        cursor: text;
        background-color: $brand-background-color;
        border-radius: 1px;
        border-bottom: 1px solid darken($brand-background-color, 10%);

        &:placeholder-shown {
            border-bottom: 1px solid black;
        }

        &:focus {
            background-color: $brand-background-color-pale;
        }
    }
}
