$block-class: 'make-new';

@at-root {
    .#{$block-class} {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        &__icon-wrapper {
            flex-basis: 60%;
        }
    }
}
