$block-class: 'potluck';

@at-root {
    .#{$block-class} {
        display: flex;
        flex-direction: column;

        &__name-input {
            text-align: center;
            display: block;
            font-size: 28px;
            text-overflow: ellipsis;
        }
    }
}
