$block-class: 'share';

@at-root {
    .#{$block-class} {
        &--hidden {
            display: none;
        }

        &__button-panel {
            display: flex;

            & > * {
                margin-right: 8px;
            }
        }

        &__copy-link {
            display: flex;
            font-size: 14px;
            position: relative;
        }

        &__copy-button {
            border: none;
            border-radius: 4px 0 0 4px;
            background-color: #ddd;
            height: 28px;
            width: 73px;
            font: inherit;
            font-weight: 700;
        }

        &__copy-input {
            width: 40px;
            height: 28px;
            line-height: 28px;
            transition: width 0.2s;
            background-color: #ddd;
            padding: 0 4px;
            border-radius: 0 4px 4px 0;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:focus {
                width: auto;

                & + .#{$block-class}__copy-indicator {
                    display: block;
                }
            }
        }

        &__copy-indicator {
            position: absolute;
            top: 100%;
            right: 0;
            white-space: nowrap;
            display: none;
        }
    }
}
