$block-class: 'share';

@at-root {
    .#{$block-class} {
        &--hidden {
            display: none;
        }

        &__button-panel {
            display: flex;

            & > * {
                margin-right: 8px;
            }
        }

        &__copy-link {
            display: flex;
            font-size: 14px;
        }

        &__copy-button {
            border: none;
            border-radius: 4px 0 0 4px;
            background-color: #ddd;
            height: 28px;
            width: 73px;
            font: inherit;
            font-weight: 700;
        }

        &__copy-input {
            width: 20px;
            height: 28px;
            transition: width 0.2s;
            background-color: #ddd;
            border: none;
            padding: 0;
            border-radius: 0 4px 4px 0;
            font: inherit;

            &:focus {
                width: 320px;
            }
        }
    }
}
