$block-class: 'something-else';

@at-root {
    .#{$block-class} {
        &__inputs {
            display: flex;
            align-items: baseline;

            & > * {
                margin-right: 8px;
            }
        }

        &__title {
            margin: 8px 8px 0 0;
        }

        &__submit {
            cursor: pointer;
        }
    }
}
