$brand-background-color: #ffda00;
$brand-background-color-pale: lighten($brand-background-color, 5%);
$brand-primary: #476bd6;
$brand-secondary: #ff7f00;

@mixin on-small {
    @media (max-width: 512px) { @content; }
}

@import './global';
@import './app';
@import './header';
@import './footer';
@import './potluck';
@import './host';
@import './add-need';
@import './bringings';
@import './bringing';
@import './something-else';
@import './inconspicuous-input';
@import './share';
@import './new-icon';
@import './make-new';
