$brand-background-color: #fec601;
$brand-background-color-pale: #feeaa2;
$brand-primary: #73bfb8;
$brand-secondary: #ea7317;

body {
    font-family: 'Dosis', sans-serif;
    background-color: $brand-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 0;
}

@import './app';
@import './header';
@import './potluck';
@import './add-need';
@import './needs';
@import './need';
@import './bringing';
