$block-class: 'needs';

@at-root {
    .#{$block-class} {
        &__need-list {
            display: flex;
            flex-flow: row wrap;

            & > * {
                margin: 4px;
            }
        }
    }
}
